{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt ratione incidunt velit cupiditate, necessitatibus, laudantium consequatur atque dicta 
        itaque esse corporis, iure totam non nostrum ab repellendus nam hic?</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, facilis? Eaque, tenetur error repellendus exercitationem fuga sit dolor obcaecati ducimus, nulla, 
            nam nisi eligendi recusandae aspernatur aperiam laudantium soluta ut.
        </p>
</div>
{% endblock content %}